<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="email@email.com.br" name="inputEmail"
      [(ngModel)]="user.email" required email />
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="inputPassword"
      [(ngModel)]="user.password" required />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
