<form class="needs-validation" novalidate [formGroup]="form" style="margin-top: 10px;">
  <div class="form-row">
    <div class="col-sm-12">
      <label for="name">Nome do Curso</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Nome do Curso" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && hasError('name') }">
      <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['required']">
        Informe um nome válido para o curso
      </div>
      <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['minlength']">
        Informe um nome com no mínimo de {{ hasError('name')['minlength'].requiredLength }} caracteres
      </div>
      <div class="invalid-feedback" *ngIf="hasError('name') && hasError('name')['maxlength']">
        Informe um nome com no máximo de {{ hasError('name')['maxlength'].requiredLength }} caracteres
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Salvar</button>

    <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancelar</button>
  </div>
</form>
